body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app,
.app-chat {
  height: 100vh;
  display: flex;
}

.app-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}